<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525487900778-rhoec5pj8imjpth93sgoavru2i37cvk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525487900778-rhoec5pj8imjpth93sgoavru2i37cvk5</string>
	<key>API_KEY</key>
	<string>AIzaSyBXDB6BNdDdr_hhn2CQJeIvaLIh_m7u6bc</string>
	<key>GCM_SENDER_ID</key>
	<string>525487900778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceSystemFlutterMobile</string>
	<key>PROJECT_ID</key>
	<string>attendance-system-98e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-system-98e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525487900778:ios:852fc712f443b799c06213</string>
</dict>
</plist>